{% extends 'base.html' %}
{% load static %}
{% block title %}Estadisticas de {{ user.username }}{% endblock %}


{% block content %}


    <h1>Estadisticas personales de {{user.username}}</h1>
    <thead>
        <table>
            <tr>
                <th>Respuestas acertadas|</th>
                <th>tiempo empleado|</th>
                <th>puntaje final</th>
            </tr>
        </table>
        <tbody>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>


{% endblock %}