{% extends 'base.html' %}
{% load static %}
{% block title %}Bienvenido{% endblock %}

<!--ESTO ES UNA PRUEBA-->
{% block content %}
<article>
    <section>
        <div class="caja1">
        <p class="prueba-inicio animate__bounceIn"><h2> Bienvenido al juego de preguntas y respuestas sobre el aniversario de Provincialización del Chaco.</h2></p>
        <img src="https://w7.pngwing.com/pngs/716/486/png-transparent-100-pics-quiz-guess-the-trivia-games-history-quiz-game-quiz-guess-word-quiz-up-2k17-trivia-history-quiz-game-logo-circle-thumbnail.png" alt="">


    </section>

    </div>

    <div class="">
        <h3>Las preguntas seran sobre varios temas, entre ellos:</h3>
            <ul>
            <li>Cultura y arte</li>
                <li>Historia</li>
                <li>Deporte</li>
                <li>Geografía</li>
                <li>Economía</li>
                <li>Ciencia y Educación</li>
                <li>Entretenimiento</li>

            </ul>


    </div>



</article>

{% endblock %}

