{% extends 'base.html' %}
{% load static %}
{% block title %}Bienvenido{% endblock %}

<!--ESTO ES UNA PRUEBA-->
{% block content %}
<div class="caja1">
    

    <img src="https://w7.pngwing.com/pngs/716/486/png-transparent-100-pics-quiz-guess-the-trivia-games-history-quiz-game-quiz-guess-word-quiz-up-2k17-trivia-history-quiz-game-logo-circle-thumbnail.png" alt="">
    
    
        <p class="prueba-inicio animate__bounceIn">Aca podria ir algun mensaje de bienvenida o las instrucciones </p>



</div>
{% endblock %}

