<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom"></div> 
{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz Game Chaco{% endblock %}

  <!--ESTO ES UNA PRUEBA-->
  {% block content %}
    
      
        <main>
          <section>
              <div class="caja1">
                <div>
                  <h2 class="portada animate__bounceIn"> Bienvenido al juego de preguntas y respuestas sobre el aniversario de Provincialización del Chaco.</h2>
                  <h3 class="portada">Las preguntas seran sobre varios temas, entre ellos:</h3>
                  <ul class="portada-lista">
                      <li><i class="fas fa-circle"></i> Cultura y arte</li>
                      <li><i class="fas fa-circle"></i> Historia</li>
                      <li><i class="fas fa-circle"></i> Deporte</li>
                      <li><i class="fas fa-circle"></i> Geografía</li>
                      <li><i class="fas fa-circle"></i> Economía</li>
                      <li><i class="fas fa-circle"></i> Ciencia y Educación</li>
                      <li><i class="fas fa-circle"></i> Entretenimiento</li>
          
                  </ul>
                </div>  
              
              <img src="/static/img/imagen-inicio.png" alt="logo-principal">


          </section>

        </main>
    
    
           
  {% endblock %}



