{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz | aniversario de Provincialización del Chaco.{% endblock %}

{% block content %}


<h2>Proband, probando, aca seria todo el juego ya </h2>


{%for pregunta in pregunta %}
    
    <p>
        <strong>
            {{pregunta}}
        </strong>
    </p>
    {% for respuestas in pregunta.preguntas.all %}
        <p>
            
                {{respuestas}}
            
        </p>
    
    {%endfor %}
    


{% endfor %}




{% endblock %}





