{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz | aniversario de Provincialización del Chaco.{% endblock %}

{% block content %}



{% if not request.user.is_active %}
<h2><p class="">Inicia sesión o registrate para poder jugar</p></h2>

{% else %}

<h2>Probando, probando, aca seria todo el juego ya </h2>

<!--Si no les sirve saquenlo-->
<script>
window.onload = updateClock;
var totalTime = 50;
function updateClock() {
document.getElementById('contador').innerHTML = totalTime;
if(totalTime==0){
alert('Final :)');
}else{
totalTime-=1;
setTimeout("updateClock()",1000);
}
}
</script>
<h2><center>Hice un temporizador</center></h2>
<h3><center> Tiempo: <span id="contador"></span></center></h3>
{% endif %}


{% if pregunta is None %}

    <div class = 'container'>
        <div class = 'jumbotron my-4'>
            <h1>Todas las preguntas fueron respondidas. Puedes ver tu lugar en el tablero de posiciones</h1>
            <a href = '{url 'ranking'}'>Ranking</a>
        </div>
    </div>
{%else%}
    <div class = 'container'>
        <div class = 'jumbotron my-4'>
            {{pregunta.texto}}
        </div>
        <form method = 'POST' class = 'form'>
            {% csrf_token %}
            <input type = 'hidden' name = 'pregunta_pk' value = '{{pregunta.pk}}'>
           
            {%for opciones in pregunta.opciones.all %}
                <div class = 'form-check mx-4'>
                    <input class = 'from-check-input' type= 'radio' name = 'respuesta_pk' value= '{{opcione.pk}}' id = 'choice-{{forloop.counter}}'>
                    <label class = 'form-check-label' for = 'forloop.counter'>
                        {{opciones.texto}}
                    </label>
                </div>
            {%endfor%}

                <button type = 'submit' class = 'btn btn-success'>
                    Enviar
                </button>
        </form>
    </div>

{%endif%}
 
    






{% endblock %}





