{% extends 'base.html' %}
{% load static %}
{% block title %}Posiciones{% endblock %}


{% block content %}


    <h1>Top {{contador_total}} Usuarios</h1>
    
        <table class = 'table table-striped table-bodered'>
            <thead>
                <tr>
                    <th>Posiciones</th>
                    <th>participante</th>
                    <th>puntaje</th>
                </tr>
            </thead>
        
            <tbody>
                {% for Usuarios in Usuarios_ranking %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <th>{{ Usuarios.usuario.username }}</th>
                        <th>{{ Usuarios.puntaje_total }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <tbody>
            {% for usuario in usuarios_top %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ usuario.usuario.username }}</td>
                <td>{{ usuario.puntaje_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>



{% endblock %}