{% extends 'base.html' %}
{% load static %}
{% block title %}Posiciones{% endblock %}




{% block content %}

<div class="efectos">
    <script type="text/javascript" src="https://dl.dropboxusercontent.com/s/qhmfmwu7ckig9l2/fartificiales.js"></script>
    <h1 class="efectos1">Top {{contador_total}} Usuarios</h1>
    
    
        <table class = 'table table-striped table-bodered'>
            <thead>
                 <tr class="efectos2">
                    <th>Posiciones</th>
                    <th>Participante</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
           
            <tbody>
                {% for usuario in usuarios_top %}
                <tr class="efectos3">
                    <th>{{ forloop.counter }}</th>
                    <th>{{ usuario.usuario.username }}</th>
                    <th>{{ usuario.puntaje_total }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
        <a type="button" href="{% url 'reiniciar' %}" class="btn btn-primary jugar-volver">Volver a Jugar</a>
        </p>
        <h2 class="efectos2">Compartí tu puntaje:</h2>
        <div class="fb-share-button" data-href="http://localhost:8000/ranking/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8000%2Franking%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Facebook</a></div>
        <br>
        <br>
        <p>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
</div>


    



{% endblock %}