{% extends 'base.html' %}

{% block content %}

<div class="container">
	
	<div class="jumbotron my-4">
		<h3 class="titulo-respuesta">{{respondida.pregunta.texto|safe}}</h3>
		<p class="respuesta">
			Tu respuesta fue: {{respondida.respuesta.texto|safe}}
			
		</p>


	{% if respondida.respuesta.correcta %}
		<h4 class="solucion-v">Tu respuesta es correcta</h4>
	{% else %}
		<h4 class="solucion-f">Tu respuesta es incorrecta</h4>

		{% for respuesta in respondida.pregunta.opciones.all %}

			{% if respuesta.correcta %}

				<h4 class="solucion">La respuesta correcta es: <span class="text-success">{{respuesta}}</span></h4>
				
			{% endif %}

		{% endfor %}

	{% endif %}

	<a href="{% url 'jugar' %}">
		<button class="btn-success boton-continuar">
			Continuar con la siguiente pregunta
		</button>
	</a>

	</div>


</div>



{% endblock %}
