{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js'%}"></script>
</head>
<body>
    <header>
        <!--Navegador-->
        <nav>
            <ul class="menu">
              <li class="logo"><a href="{% url 'inicio' %}">Quiz Game</a></li>
              <li class="item"><a href="/jugar">Jugar</a></li>
              <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
              {%  if user.is_authenticated %}
              <li>
                  <a href="{% url 'estadisticas' %}">@{{ user.username }}</a>
              </li>
              </li>
              <li class="">
                  <a href="{% url 'ranking' %}">ranking</a>
              </li>

              <li class="item button">
                  <a href="{% url 'logout' %}">cerrar sesión</a>
              </li>

              {% else %}
              <li class="item button">
                <a href="{% url 'login' %}">Iniciar sesión</a>
              </li>
              <li class="item button secondary">
                  <a href="{% url 'registro' %}">Registrarse</a>
                

              {% endif %}
            </ul>
          </nav>
    </header>
    
        {% block content %}

        {% endblock %}

    
    <footer>
        
       <p>© Informatorio - Comision 6 - Grupo 3 - 2021</p> 

    </footer>

</body>
</html>